@import 'app/assets/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Playfair+Display:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-cod-gray text-base font-light tracking-wider text-gray;
	font-family: 'Manrope', sans-serif;
}

.disabled {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	opacity: 0.2 !important;
}

.rs-dropdown-menu {
	@apply absolute  mt-[2.8rem] max-w-full bg-mine-shaft p-4;
}

.font-serif{
	font-family: 'Playfair Display', serif;
}

.btn-link{
	@apply border-b border-white/20 text-sm uppercase text-white tracking-widest;
}
